body {
  background-color: black;
  font-family: sans-serif;
  color: #eee;
}

button {
  display: block;
  border: none;
  padding: 10px 20px;
  height: 40px;
  margin: 0;
  background: transparent;
  outline: none;
  color: #eee;
  border: 1px solid #eee;

  font-size: 14px;
}

button:hover {
  border: 1px solid #fff;
  color: #fff;
}

h1 {
  color: #eee;
  font-family: sans-serif;
  text-align: center;
}

.canvas-container {

  position: relative;
  height: 600px;
  width: 1200px;
  margin: 0 auto;

}

#grid {
  background: #000;
  position: absolute;
  margin: 0 auto;
  left: 1px;
  top: 1px;
  z-index: -1;
}

#grid.block-grid {
  display: none;
}

#easel {
  border: 1px solid #eee;

  margin: 0 auto;
  display: block;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 1200px;
  margin: 20px auto;
}

.button-menu {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-menu > button {
  margin-right: 20px;
}


.control-menu {
  text-align: center;
  width: 33.33%;
  align-items: center;
}

.config-menu {
  width: 33.33%;
  display: flex;
  align-items: center;
}


i.material-icons {
  color: #eee;
  cursor: pointer;
  outline: none;
  font-size: 89px;

}

i.material-icons:hover {
  cursor: pointer;
  color: #fff;
}


i.block-button {
  display: none;
}

#random {
  margin-right: 20px;
}

select {
  font-size: 16px;
}

.slider-container {
  color: #eee;
  display: flex;
  justify-content: center;
}

#slider {
  margin: 0 10px 0 10px;
}
