body {
  background-color: black;
  font-family: sans-serif;
}

button {
  display: block;
}

h1 {
  color: #eee;
  font-family: sans-serif;
  text-align: center;
}

.canvas-container {

  position: relative;
  height: 600px;
  width: 1200px;
  margin: 0 auto;

}

#grid {
  background: #000;
  position: absolute;
  margin: 0 auto;
  left: 1px;
  top: 1px;
  z-index: -1;
}

#grid.block {
  display: none;
}

#easel {
  border: 1px solid #eee;

  margin: 0 auto;
  display: block;
  box-sizing: border-box;
}

.button-menu {
  text-align: center;
  width: 100%;
}


.slider-container {
  display: flex;
  color: #fff;
}

#slider {
  background-color: red;
}
